<div class="grandParentContaniner">

  <div class="container">
 
    <h1 id="Login_title">Login</h1>
  
    <form action="/sessions/login" method="post">
      
      <div class="form-inputs">
        <label for="user_name">User Name</label>
        <input class = "input-box" id="user_name"   type="text" name="user_name">
      </div>
  
      <div class="form-inputs"> 
        <label for="password">Password</label>
        <input class = "input-box" id="password"  type="password" name="password">
      </div>
  
      <div class="form-inputs"> 
        <input class="submit-button" type="submit"  value="login">
      </div>
  
    </form>
</div>
