<h1>Add a property form goes here</h1>

<div class="container">
	<form action="/properties" method="post">
		
		<label for="name">Property Name</label>
		<input class ="input-box" id="name" type="text" name="name">

		<label>phone</label>
		<input class= "input-box" id="phone" type="text" name="phone">

		<label>building address</label>
		<input class="input-box" id="building_address" type="text" name="building_address">

		<div class="form-inputs">
      <input class="submit-button" name="commit"  type="submit" value="save">
    </div>

	</form>
</div>
